$enable-grid-classes: false;
$enable-cssgrid: true;
$body-bg: rgb(227, 230, 235);
@import '~bootstrap/scss/bootstrap';

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

$shade-color: darken($body-tertiary-bg, 3%);
$shade-color-dark: lighten($body-secondary-bg-dark, 3%);

@for $i from 0 through 100 {
  .w-#{$i} {
    width: #{$i}#{'%'};
  }
}

@include color-mode(dark) {
  @for $i from 0 through 10 {
    .shade-#{$i} {
      background-color: lighten($shade-color-dark, $i * 2%);
    }
  }

  .nav-shade {
    background-color: lighten($shade-color-dark, 5%);
  }
  .nav-shade:hover {
    background-color: lighten($shade-color-dark, 2%);
  }
}

@for $i from 0 through 10 {
  .shade-#{$i} {
    background-color: darken($shade-color, $i * 2%);
  }
}

.close-button:hover {
  background-color: $danger !important;
  color: $body-color-dark;
}

.nav-shade {
  background-color: darken($shade-color, 7%);
}
.nav-shade:hover {
  background-color: darken($shade-color, 12%);
}

.theme-button {
  transition: all 0.2s ease-in-out;
}

.theme-button:hover {
  color: $warning;
  transform: scale(1.2);
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  // border: 7px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}

@mixin switch($res: 'sm') {
  $index: 1rem;
  $mainVal: 1rem;

  @if $res == 'md' {
    $index: 2rem;
    $mainVal: 1.5rem;
  } @else if $res == 'lg' {
    $index: 3rem;
    $mainVal: 2rem;
  } @else if $res == 'xl' {
    $index: 4rem;
    $mainVal: 2.5rem;
  }

  .form-check-input {
    height: $mainVal;
    cursor: pointer;
    width: calc(#{$index} + 0.75rem);
    border-radius: $mainVal * 2;
  }
}

.form-check-input {
  clear: left;
}

.form-check-input:checked {
  background-color: $success !important;
  border-color: $success !important;
}
// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
  @include switch();
}

.form-switch.form-switch-md {
  @include switch('md');
}

.form-switch.form-switch-lg {
  @include switch('lg');
}

.form-switch.form-switch-xl {
  @include switch('xl');
}
