$enable-grid-classes: false;
$enable-cssgrid: true;
@import '~bootstrap/scss/bootstrap';

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

$shade-color: darken($body-tertiary-bg, 3%);
$shade-color-dark: lighten($body-secondary-bg-dark, 3%);

@include color-mode(dark) {
  .shade-color {
    background-color: $shade-color-dark;
  }

  .nav-shade {
    background-color: lighten($shade-color-dark, 5%);
  }
  .nav-shade:hover {
    background-color: lighten($shade-color-dark, 2%);
  }
}

.shade-color {
  background-color: $shade-color;
}

.close-button:hover {
  background-color: $danger !important;
  color: $body-color-dark;
}

.nav-shade {
  background-color: darken($shade-color, 7%);
}
.nav-shade:hover {
  background-color: darken($shade-color, 12%);
}

.theme-button {
  transition: all 0.2s ease-in-out;
}

.theme-button:hover {
  color: $warning;
  transform: scale(1.2);
}
